*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
  /*border: solid 1px red;*/
}
body{
  background-color: #bb5e00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: 0;
}
.bear{
  position: relative;
  width: 330px;
  height: 270px;
  transition: -webkit-transform 2s linear 0.2s;
  transition: transform 2s linear 0.2s;
  transition: transform 2s linear 0.2s, -webkit-transform 2s linear 0.2s;
}
.nose:hover{
  -webkit-transform: scale(1.2,1.2);
          transform: scale(1.2,1.2);
  
}
.face{
  width: 100%;
  height: 250px;
  border-radius: 50%;
  background-color: #642100;
}
.ear{
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border-top: 80px solid #642100;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  top: -30px;
  z-index: 2;
  -webkit-transform:rotate(180deg);
          transform:rotate(180deg);
}
.ear.right{
  right: 40px;
}
.ear.left{
  left: 40px; 
}
.eye{
  position: absolute;
  width: 40px;
  height: 50px;
  background: #000;
  top: 80px;
  border-radius: 50%;
}
.eye.left{
  left: 55px;
}
.eye.right{
  right: 55px;
}
.nose{
  position: absolute;
  width: 120px;
  height: 80px;
  background: 	#2f0000;
  border-radius: 50%;
  top: 130px;
  left: 105px;
   
}

.nostril{
  position: absolute;
  width: 50px;
  height: 12px;
  background: #000000	;
  border-radius: 50%;
  top: 145px;
  z-index: 2;
}
.nostril.right{
  right: 140px;
}


@import url('https://fonts.googleapis.com/css?family=Anton');
h1{
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  color: #fff;
  padding: 30px;
}